.container-profil{
    background-color:#b8babb4b;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F53F3F;
    border: 1px solid #F53F3F;
    border-radius: 5px;
    color: white;
    width: 400px;
    padding: 1rem;
    margin: 3rem ;
   
}
form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    
}
input{
   border-radius: 5px;
}
.check-manager{
    display:inline;
 
}
label{
    margin-left: 1rem;
}
.btn-signin{
    color: white;
    background-color: #001A33;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    font-weight: 900;
    
}
.btn-signin:hover{
    transition:  0.5s ease-in-out;
    background-color: white;
    color: #001A33 ;
}
.btn-login{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    font-weight: 900;
}
.btn-login:hover{
    color: white;
    background-color: #001A33;
    transition:  0.5s ease-in-out;
}
h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
    color:#F53F3F;
}

.identityProfil {
font-weight: bold
}

.link{
    text-decoration: none;
    color: #001A33 ;
    width: 100%;
}
.identi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 3rem ;
    background-color: #F53F3F;
    border: 1px solid #F53F3F;
    border-radius: 5px;
    color: white;
    width: 350px;
    padding: 1rem;
    margin: 3rem ;
   
}


.form-delete {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001A33;
    border: 1px solid #001A33;
    border-radius: 5px;
    color: white;
    width: 600px;
   
}

.btn-alert {
    color: white;
    background-color:red;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-weight: 900;
   
}
.btn-add-venue{
    width: 5rem;
}

.textDelete {
    text-align: justify;
    text-justify: inter-word;
}

.bloc-bookings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F53F3F;
    border: 1px solid #F53F3F;
    border-radius: 5px;
    color: white;
    width: 400px;
    padding: 1rem;
    margin: 3rem ;
}