.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 3rem ;
    background-color: #F53F3F;
    border: 1px solid #F53F3F;
    border-radius: 5px;
    color: white;
    width: 350px;
   
}
form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    
}
input{
   border-radius: 5px;
}
.check-manager{
    display:inline;
 
}
label{
    margin-left: 1rem;
}
.btn-signin{
    color: white;
    background-color: #001A33;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    font-weight: 900;
    
}
.btn-signin:hover{
    transition:  0.5s ease-in-out;
    background-color: white;
    color: #001A33 ;
}
.btn-login{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    font-weight: 900;
}
.btn-login:hover{
    color: white;
    background-color: #001A33;
    transition:  0.5s ease-in-out;
}
h3{
    font-weight: 900;
}
.link{
    text-decoration: none;
    color: #001A33 ;
    width: 100%;
}
.identi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 3rem ;
    background-color: #F53F3F;
    border: 1px solid #F53F3F;
    border-radius: 5px;
    color: white;
    width: 350px;
   
}