.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 3rem;
  background-color: #f53f3f;
  border: 1px solid #f53f3f;
  border-radius: 5px;
  color: white;
  width: 350px;
}
form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
}
input {
  border-radius: 5px;
}
.check-manager {
  display: inline;
}
label {
  margin-left: 1rem;
}
.btn-signin {
  color: white;
  background-color: #001a33;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  font-weight: 900;
}
.btn-signin:hover {
  transition: 0.5s ease-in-out;
  background-color: white;
  color: #001a33;
}
.btn-login {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  font-weight: 900;
}
.btn-login:hover {
  color: white;
  background-color: #001a33;
  transition: 0.5s ease-in-out;
}
h3 {
  font-weight: 900;
}
.link {
  text-decoration: none;
  color: #001a33;
  width: 100%;
}
