section{
   height: 100%;
    text-align: center;
    color: white;
}
.container-image{
    background-image: url(https://images.unsplash.com/photo-1602833334025-5019f046b8f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.para-action{
    font-size: 2.5rem;
    font-weight: 900;
}
.btn-go{
    color: white;
    background-color: #F53F3F;
    border:none;
    padding:  1rem;
}
input{
    border: none;
    padding: 1rem;
}
.container-category{
   padding: 2rem;
    background-color: #F53F3F;
}
.container-btn{
    margin: 1rem;
}
.btn-category{
    margin: 0.5rem;
}
.section-blog h2{
    color: #F53F3F;
    padding: 2rem;
}
.section-blog p{
    color: #8E8A8A;
    padding: 1rem;
}
.img-blog{
    display: flex;
    padding-bottom: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}
.img-item-blog{
    height: 200px;
    width: 250px;
}