
.card_img {
  height: 250px;
  width: 100%; 
  background: rgba(0, 0, 0, .08);
  object-fit: cover;
}

button:hover{
  color: white;
  background-color: #F53F3F;
  
  
}

.title-venue{
  color: #F53F3F;
}

